P {
    font-size: 15px;
    line-height: 2cm;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  i {
    font-family: sans;
    font-size: 15px;
    color: darkblue;
    font-weight: bold;
  }

h2 {
    font-family: sans;
    color: brown;
}